/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: #046c97;
}

body > div {
  background-color: white;
  border: 1px solid yellow;
  margin: 20px 75px;
  border-radius: 5px;
}

div > header {
  background-color: #ff8523;
  border-bottom: 1px solid yellow;
  padding: 25px 15px;
}

header > a {
  padding: 10px;
  display: block;
}

.main_navigation > a {
  border: 1px solid white;
  font: bold 15px Arial;
  padding: 10px 15px;
  margin: 1px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.main_navigation > a.link {
  color: white;
}

h2, h3 {
  color: #1fabe5;
}

section, h2, h3, p, ul, tr {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  font-weight: bold;
  margin: 10px;
}

#page_content {
  padding: 20px;
}

section {
  border-bottom: 4px solid #eee;
  padding: 10px;
}

table, td {
  border: 1px solid #046c97;
  border-collapse: collapse;
}

table {
  width: 100%;
  display: inline-block;
  /*box-sizing: border-box;*/
}

thead > tr > td {
  background-color: #1fabe5;
  color: white;
  padding: 10px;
}
