/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: #046c97;
}

body > div {
  background-color: white;
  border: 1px solid yellow;
  margin: 20px 95px;
  border-radius: 10px;
}

div > header {
  background-color: #ff8523;
  border-bottom: 1px solid yellow;
  padding: 35px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header > a {
  display: block;
  padding-bottom: 20px;
}

.main_navigation > a {
  border: 1px solid white;
  font: bold 15px Arial;
  padding: 10px 25px;
  margin: 1px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.main_navigation > a.link {
  color: white;
}

h2, h3 {
  color: #1fabe5;
}

h2 {
  font-size: 35px;
}

p, h3, ul, td {
  font-size: 20px;
}

section, h2, h3, p, ul, tr, #city, #bio {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  font-weight: bold;
  margin: 10px;
}

#page_content {
  padding: 20px;
  line-height: 1.6;
}

section {
  border-bottom: 4px solid #eee;
  padding: 10px;
}

table, td {
  border: 1px solid #046c97;
  border-collapse: collapse;
}

td {
  padding: 0px 10px;
  text-align: center;
}

table {
  width: 100%;
}

table img {
  width: 70px;
  padding: 20px;
}

}

thead {
  background-color: blue;
}

thead > tr > td {
  background-color: #1fabe5;
  color: white;
  padding: 10px;
}

.name {
  background-color: #ff8523;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}


form {
  background-color: #eee;
  border-radius: 5px;
  padding: 15px 15px;
  margin-bottom: 50px;
}

label {
  font-weight: bold;
  padding: 10px;
}

textarea {
  font-size: 20px;
}

.city_container {
  padding: 10px 0px;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 97%;
}

#submit_button {
  text-transform: uppercase;
  color: white;
  background-color: #1fabe5;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  margin: 20px;
}
